<div class="d-flex flex-column w-100 h-100">
    <app-header ></app-header>
    <div class="flex-grow-1 overflow-auto h-100">
        <div class="align-items-center container d-flex flex-column h-100 justify-content-center">
            <div class="row justify-content-center px-3 px-md-0 ">
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/CargoAcceptance']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/acceptance.svg" class="w-75"></div>
                <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Cargo Acceptance</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/CargoAcceptance/noBooking']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/acceptance.svg" class="w-75"></div>
                <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Cargo Acceptance/No Booking</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/CargoDelivery']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/delivery.svg" class="w-75"></div>
                    <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Cargo Delivery</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/devanning']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/devanning.svg" class="w-75"></div>
                    <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Devanning</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/Loading']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/loading.svg" class="w-75"></div>
                    <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Loading</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center" [routerLink]="['/LocationTransfer']">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/loading.svg" class="w-75"></div>
                    <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Location Transfer</div>
                </mat-card>
                <mat-card class="cursor-pointer col-12 col-md-4 col-lg-3 my-2 m-md-3 d-flex flex-column justify-content-center  ">
                    <div class="d-none d-md-flex justify-content-center flex-grow-1 "><img src="assets/images/gateentryexit.svg" class="w-75"></div>
                    <div class="h4 text-center mt-0 mt-md-3 font-weight-300">Gate Entry/Exit</div>
                </mat-card>
            </div>
        </div>
    </div> 
</div>
