<mat-toolbar color="primary" class="d-flex">
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToHomePage()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </mat-menu>
    <span>Freight Systems</span>
    <span class="flex-grow-1"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>