<div class="h-100 w-100 d-flex flex-column overflow-auto">
   
    <div class="flex-grow-1 overflow-auto d-none d-md-block" *ngIf="true">
      
      <div>
        <mat-card>
    <div class="pb-2 color1 text-white pl-2 pt-2">Segment: {{details.segment_code}}</div>
    <div class="pb-2 color pl-2 pt-2">BL/Booking: {{details.booking_no}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Container: {{details.container_no}}</div>
    <div class="pb-2 color pl-2 pt-2">Origin : {{details.origin}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Packages : {{details.packages}} / {{details.pack_type}}</div>
    <div class="pb-2 color pl-2 pt-2">Weight : {{details.weight}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Volume : {{details.volume}}</div>
        </mat-card>
        
      </div>
    </div>
    <div class="flex-grow-1 overflow-auto d-block d-md-none" *ngIf="true">
       
      <div>
        <mat-card>
    <div class="pb-2 color1 text-white pl-2 pt-2">Segment: {{details.segment_code}}</div>
    <div class="pb-2 color pl-2 pt-2">BL/Booking: {{details.booking_no}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Container: {{details.container_no}}</div>
    <div class="pb-2 color pl-2 pt-2">Origin: {{details.origin}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Packages : {{details.packages}} / {{details.pack_type}}</div>
    <div class="pb-2 color pl-2 pt-2">Weight : {{details.weight}}</div>
    <div class="pb-2 color1 text-white pl-2 pt-2">Volume : {{details.volume}}</div>
    
        </mat-card>
        
      </div>
    </div>
</div>
