<div class="flex-grow-1 overflow-auto d-none d-md-block ">
<div class="d-flex flex-column overflow-auto">
   
  <div class="flex-grow-1 overflow-auto d-none d-md-block" *ngIf="true">
    
    <div>
      <mat-card>
        <div class="pb-2 color1 text-black pl-2 pt-2">Job : </div>
        <div class="pb-2 color pl-2 pt-2">BL/Booking : </div>
        <div class="pb-2 color1 text-black pl-2 pt-2">Orgin :</div>
        <div class="pb-2 color pl-2 pt-2">Destination : </div>
      
      </mat-card>
      
    </div>
  </div>
  <div class="flex-grow-1 overflow-auto d-block d-md-none" *ngIf="true">
     
    <div>
      <!-- <mat-card>
        <div class="pb-2 color1 text-white pl-2 pt-2">Job : {{details?.Job}}</div>
        <div class="pb-2 color pl-2 pt-2">BL/Booking : {{details?.BL_Booking}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Orgin : {{details?.origin}}</div>
        <div class="pb-2 color pl-2 pt-2">Destination : {{details?.destination}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">BOE : {{details?.bill_of_entry}}</div>
        <div class="pb-2 color pl-2 pt-2">Mark and Number : {{details?.Mark_and_Number}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Commodity :{{details?.commodity}}</div>
        <div class="pb-2 color pl-2 pt-2">CFS Slot : {{details?.cfs_slot}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Packages : {{details?.packages}}/{{details?.pack_type}}</div>
        <div class="pb-2 color pl-2 pt-2">Weight : {{details?.weight}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Volume : {{details?.volume}}</div>
        <div class="pb-2 color pl-2 pt-2">Truck No : {{details?.Truck_No}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Driver Name : {{details?.Driver_Name}}</div>
     </mat-card> -->
      
    </div>
  </div>
</div>
</div>
