<div class="h-100 w-100 d-flex flex-column overflow-auto">
    <div class=" py-2 d-flex align-items-center justify-content-center bg-white border-top flex-wrap">
        <button mat-raised-button color="primary" class="mt-2 ml-3" [disabled]="bookingList.Delivery_BL== []? true : false" (click)="deliveryItem()" >
        Delivery Item
        </button>
    </div>

    <div *ngIf="isLoading" class="flex-grow-1 d-flex align-items-center justify-content-center ">
        <mat-progress-bar class="mx-4" mode="indeterminate"></mat-progress-bar>
      </div>
      
      <table  mat-table [dataSource]="dataSource" class=" mat-elevation-z8 w-100 list-container" >
        
        <!-- Name Column -->
        <ng-container matColumnDef="receivedPiece">
          <th mat-header-cell *matHeaderCellDef>Delivered Qty</th>
          <td mat-cell *matCellDef="let element; let i = index" class="px-2">{{element.rcvd_qty}}</td>
        </ng-container>
    
        <!-- Weight Column -->
         <ng-container matColumnDef="damageNotes">
          <th mat-header-cell *matHeaderCellDef>Condition</th>
          <td mat-cell *matCellDef="let element; let i = index">{{element.good_damage}}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-right">Action</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div  class="d-flex justify-content-end">
              <!-- <button mat-icon-button color="primary" (click)="editItem(element)">
                <mat-icon>edit</mat-icon>
              </button> -->
              <button mat-icon-button color="primary" (click)="DeleteItem(element, dataSource, i,house_no)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-top"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
</div>

