<div class="d-flex flex-column overflow-auto h-100">
    <div class="flex-grow-1 container overflow-auto">
        <div class="cfs-title1 pb-2"><strong>Unload Details</strong></div>
        <div class=" pb-2 color1 text-white pl-2 pt-2">packageType: {{details.package_type}}</div>
        <div class="pb-2 color pl-2 pt-2">Received Qty: {{details.rcvd_qty}} </div>
        <div class="pb-2 color1 text-white pl-2 pt-2">Condition: {{details.good_damage}}</div>
        <div class="pb-2 color pl-2 pt-2" *ngIf="details.good_damage == 'Damage'">damageType: {{details.damage_type}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2" *ngIf="details.good_damage == 'Damage'">damageNotes: {{details.damage_notes}}</div>
        <div class="pb-2 color pl-2 pt-2">Volume: {{details.volume}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">weight: {{details.weight}}</div>
        <div class="pb-2 color pl-2 pt-2">LandedMarks: {{details.landed_marks}}</div>
        <div class="pb-2 color1 text-white pl-2 pt-2">CFSNote:{{details.cfs_slot}} </div>
    </div>
    <div class="d-flex pb-1">
        <button mat-raised-button class="ml-auto" mat-dialog-close >
            Close
        </button>
      </div>
</div>