<div class="d-flex">
    <div class="d-flex flex-column w-100 ">

      <!-- <div class="w-100">
        <mat-form-field class="w-50 pr-2" >
          <mat-label>Enter Packages</mat-label>
          <input matInput placeholder="Enter Packages" [(ngModel)]="details.packages" >
        </mat-form-field>

        <mat-form-field class="w-50">
          <mat-label *ngIf="details.pack_type"> {{details.pack_type}} </mat-label> 
           <mat-lable *ngIf="!details.pack_type">Type</mat-lable> 
          <mat-select [(ngModel)]="packageType" name="type">
            <mat-option *ngFor="let type of types" [value]="type.value" >
              {{type.viewValue}}  
            </mat-option>
          </mat-select>
      </mat-form-field>

      </div>
      <mat-form-field  >
        <mat-label>Enter Weight</mat-label>
        <input matInput placeholder="Weight" [(ngModel)]="details.weight" >
      </mat-form-field>
  
      <mat-form-field  >
        <mat-label>Enter volumn</mat-label>
        <input matInput placeholder="volumn" [(ngModel)]="details.volume">
      </mat-form-field>

      <mat-form-field  >
        <mat-label>Enter Driver Name</mat-label>
        <input matInput placeholder="Driver Name" [(ngModel)]="driverName">
      </mat-form-field>
    
      <mat-form-field  >
        <mat-label>Enter Truck No</mat-label>
        <input matInput placeholder="Truck No" [(ngModel)]="truckName" >
      </mat-form-field>
    </div>
  </div> -->

  <app-loader *ngIf="isLoading"></app-loader>
  <div class="d-flex flex-column overflow-auto h-150">
    <div class="cfs-title1">Delivery Item</div>
            <div class="flex-grow-1 container overflow-auto h-150">
                  <form class="col-12 d-flex flex-column h-100">
                      <div class="d-flex justify-content-between w-100">
                        
                        <mat-form-field class="px-1 w-50">
                          <mat-label *ngIf="details.pack_type"> {{details.pack_type}} </mat-label> 
                          <mat-lable *ngIf="!details.pack_type">Type</mat-lable> 
                          <mat-select [(ngModel)]="packageType" name="type" [disabled]="true">
                          <!-- <mat-option *ngFor="let type of types" [value]="type.value" >
                            {{type.viewValue}}  
                          </mat-option> -->
                          </mat-select>
                      </mat-form-field>
                          <mat-form-field class="px-1 w-50" >
                            <mat-label>Delivered Qty</mat-label>
                            <input matInput placeholder="Enter Delivery Qty" type="number" [(ngModel)]="DeliveredPiece" (keyup)="calculateCBM()" name="DeliveredPiece" >
                            <mat-hint class="text-danger" *ngIf="DeliveredPiece>totalpackage">Max limit exceeded</mat-hint>
                        </mat-form-field>
                      </div>
                  </form>
                  
            </div>
        <!-- <div class="d-flex pb-1 py-5">
          <button mat-raised-button class="ml-auto" mat-dialog-close >
            Close
          </button>
          <button mat-raised-button color="primary" class="ml-3" >
              Save
          </button>
        </div> -->
        <div *ngIf="x != 0" class="ml-4" >
          <h4 color="primary">Total {{x}} packages were added successfully, Remaining {{ totalpackage-x}}</h4>
        </div>
        <div class="d-flex align-items-end h-150 mt-4 pt-2">
          <div class="d-flex pb-1 pt-2 mt-5 pt-5">
                <button mat-raised-button color="primary" class="ml-4"  >
                    Upload Photos
                  </button>
                <button mat-raised-button color="primary" class="ml-5" [disabled]="DeliveredPiece>(totalpackage-x) || x==0" (click)="deliveryComplete();">Complete</button>
                <button mat-raised-button color="primary" class="ml-5" (click)="save()" [disabled]="(DeliveredPiece>(totalpackage-x)) || (totalpackage==x) || !(DeliveredPiece>0)"> Save </button>
         </div>
</div>

 <div class="d-flex justify-content-center mt-1">
  <button mat-raised-button mat-dialog-close class="ml-3">Close</button>
 </div>
